{% extends "layout.njk" %}

{% block mainContent %}
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How do you want to log in to your {{ displayName }} account?</h1>
        <input id="provider" name="provider" type="hidden" value="{{ provider }}">
    </div>
{% endblock %}