{% extends "layout.njk" %}

{% block mainContent %}
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Example</h1>
        <p class="govuk-body">This is an example view</p>
    </div>
{% endblock %}
