{% extends "layout.njk" %}

{% block mainContent %}

  <h1>Select A Provider</h1>

  <form action="/make_a_tink_payment" method="post">
    {% for option in providerOptions %}
      <label>
        <input type="radio" name="option" value="{{ option }}">
        {{ option }}
      </label>
      <br>
    {% endfor %}

    <br>
    <button type="submit">Submit</button>
  </form>

{% endblock %}