{% extends "layout.njk" %}

{% block mainContent %}
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Payment unsuccessful</h1>
        <p class="govuk-body">No money has been taken from your account.</p>
        <p class="govuk-body">{{ message }}</p>
    </div>
{% endblock %}
